@model Master_Food.Models.HomePage

@{
    Layout = null;
    ViewBag.Title = "Home";

    Func<string, string> toTitleCase = str =>
        str[0].ToString().ToUpper() + str.Substring(1);

    var cusinesData = Model.TodaysTopCusines;
    var cusines = new Dictionary<string, List<Master_Food.Models.TodaysTopCusine>>();
    foreach (var cusineData in cusinesData.GroupBy(x => x.Type))
    {
        cusines.Add(cusineData.Key, cusineData.Select(x => x).ToList());
    }
    var feedbacks = Model.Feedbacks;

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Styles/style.css")
	@Styles.Render("~/Styles/home.css")
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap" rel="stylesheet">
    @Styles.Render("https://fonts.googleapis.com/icon?family=Material+Icons")
</head>
<body>
    <header class="page-header">
		<nav class="page-navigation">
			<h1 class="page-heading">
				<a href="/" class="home-link">
					<img src="~/Images/Icons/site-logo.svg" alt="" width="22" height="22"/>
					Master Food
				</a>
			</h1>
			<ul class="nav-menu">
				<li><a href="/Dashboard" class="nav-link">dashboard</a></li>
				<li><a href="/Services" class="nav-link">services</a></li>
				<li><a href="/FindFood" class="nav-link">find food</a></li>
				<li><a href="/Feedback" class="nav-link">feedback</a></li>
				<li><a href="#about-us" class="nav-link">about us</a></li>
			</ul>
			<button class="auth-btn"> login/signup </button>
		</nav>
	</header>

	<main class="page-main">
		<section class="landing-banner">
			<h2 class="landing-banner-caption">
                You Don't Need A Silver Fork To Eat Good Food.
            </h2>
			<div class="search-restaurents">
				<input class="search-restaurents-field" type="search" placeholder="Find a restaurent" />
				<ul class="restaurents-list">
					@foreach (var restaurant in Model.Restaurants)
                    {
                    <li class="restaurents-list-item">
                        <a class="restaurents-list-item-link" href="#">
                            <span class="restaurant-name">
                                @restaurant.Name
                            </span><br />
                            <span class="restaurant-location">
                                @restaurant.Location
                            </span>
                        </a>
                    </li>
                    }
				</ul>
				<button class="search-restaurents-btn">
					<img loading="lazy" src="~/Images/Icons/search-icon.svg" alt="search" class="search-icon" width="17" height="17" />
				</button>
			</div>
			<div class="social-media-links">
				<a href="https://facebook.com" class="facebook-icon-link">
					<img loading="lazy" class="facebook-icon" src="~/Images/Icons/facebook-icon.svg" width="10" height="10" />
					<span>10k</span>
				</a>
				<a href="https://twitter.com" class="twitter-icon-link">
					<img loading="lazy" class="twitter-icon" src="~/Images/Icons/twitter-icon.svg" width="10" height="10" />
					<span>15k</span>
				</a>
				<a href="https://instagram.com" class="instagram-icon-link">
					<img loading="lazy" class="instagram-icon" src="~/Images/Icons/instagram-icon.svg" width="10" height="10" />
					<span>12k</span>
				</a>
			</div>
		</section>

		<section id="about-us" class="about-us">
			<h2 class="about-us-heading">About us</h2>
			<h3 class="about-us-subheading">Delight your taste buds with our exqusite cusines</h3>
			<p class="about-us-description">
				The fabric of Master Food was born out of love and respect for these humble deli
				creations, met with a desire to bring quality
				ingredients to the table. Simply put,we're
				here to bring you a sandwich experience you
				can feel good about.<br /><br />We emphasize appearance, flavour, texture and method of cooking from
				restaurants near
				you.
			</p>
			<button class="discover-menu-btn">Discover Menu</button>
		</section>

        <section class="todays-top-cusines">
            <div class="categories-header">
                <h2>Order Online Now</h2>
                <h3>Today Top's cusines</h3>
                <nav class="category-tabs">
                    <div class="category-tabs-listing">
                        <div class="category-headings-wrapper">
                            <span class="category-tab-listing-item category-tab-listing-item-selected">Brakefast</span>
                            <span class="category-tab-listing-item">Lunch</span>
                            <span class="category-tab-listing-item">Dinner</span>
                            <span class="category-tab-listing-item">Dessert</span>
                            <span class="category-tab-listing-item">Shake</span>
                        </div>
                        <hr class="category-tab-selector-line" />
                    </div>
                </nav>
            </div>
            <div class="cusines-list-wrapper">
                @foreach (var cusineCategory in cusines)
                {
                    <div class="cusines-slide">
                        <ul class="cusines-list">
                            @{int i = 0;}
                            @foreach (var cusine in cusineCategory.Value)
                            {
                                i++;
                                var imagePath = Url.Content(
                                    "~/Images/" + toTitleCase(cusine.Type) + "/" + cusine.Image);
                                var price = Convert.ToInt32(cusine.Price);

                                <li class="cusines-list-item">

                                    <img loading="lazy" aria-describedby="@cusineCategory.Key-cusine-name-@i" class="cusine-image" src="@imagePath"
                                         width="130" height="160" alt="" />
                                    <div id="@cusineCategory.Key-cusine-name-@i" class="cusine-name">
                                        @cusine.Name
                                    </div>
                                    <div class="cusines-list-info">
                                        <div class="info-icon-wrapper">
                                            <img class="info-icon" src="~/Images/Icons/info-icon.svg" width="15" height="15" alt="info icon" />
                                        </div>
                                        <b class="cusine-price">$@price</b>
                                        <div class="rating">
                                            @for (int j = 0; j < cusine.Rating; j++)
                                            {
                                                <img loading="lazy" src="~/Images/Icons/star-icon.svg" alt="" class="rating-star" width="9" height="9" />
                                            }
                                        </div>
                                        <div class="heart-icon-wrapper">
                                            <img src="~/Images/Icons/heart-icon.svg" width="20" height="20" alt="like cusine" />
                                        </div>
                                        <button class="order-cusine-btn">Order</button>
                                    </div>
                                </li>
                            }
                        </ul>
                    </div>
                }
            </div>
            
            <div class="carousel-circles cusines-carousel-circles">
                @for (int i = 0; i < cusines.Count; i++)
                {
                    if (i == 0)
                    {
                        <span class="carousel-circle carousel-circle-selected"></span>
                    }
                    else
                    {
                        <span class="carousel-circle"></span>
                    }
                }
            </div>
        </section>

        <section class="testimonials">
            <h2>Testimonials</h2>
            <h3>Customers Say</h3>
            <div class="testimonials-carousel">
                @foreach (var feedback in feedbacks)
                {
                    var imagePath = Url.Content(
                                    "~/Images/Customers/" + feedback.Customer.Image);
                    <div class="testimonials-carousel-slide">
                        <img loading="lazy" class="customer-image" src="@imagePath" width="50" height="50" alt="" />
                        <b class="customer-name">@feedback.Customer.Name</b>
                        <div class="rating">
                            <b class="rating-count">@feedback.Rating</b>
                            <img loading="lazy" src="~/Images/Icons/star-icon.svg" alt="" class="rating-star" width="9" height="9" />
                        </div>
                        <p class="feedback-text">
                            @feedback.Comment
                        </p>
                    </div>
                }
            </div>
            <div class="carousel-circles testimonials-carousel-circles">
                @for (int i = 0; i < feedbacks.Count; i++)
                {
                    if (i == 0)
                    {
                        <span class="carousel-circle carousel-circle-selected"></span>
                    }
                    else
                    {
                        <span class="carousel-circle"></span>
                    }
                }
            </div>
        </section>

		<section class="ask-us">
			<h2>Ask Us</h2>
			<h3>Queries and Doubts</h3>
			<div class="contact-details">
				<img loading="lazy" class="phone-icon" src="~/Images/Icons/call-icon.svg" width="30" height="30" alt="" />
				<b class="call-now"> Call Now </b>
				<b class="contact-number">+91 883 388 8974</b>
				<div class="contact-email">
					<img loading="lazy" class="envelop-icon" src="~/Images/Icons/email-icon.svg" width="12" height="12" alt="" />
					<small>admin@masterfood.com</small>
				</div>
			</div>
		</section>
	</main>

	<footer class="page-footer">
		<small>Made with ❤ by our dedicated team.</small>
	</footer>
	<script src="~/Scripts/home.js" type="module"></script>
</body>
</html>
